# .gitignore for Grails 1.2 and 1.3
# Although this should work for most versions of grails, it is
# suggested that you use the "grails integrate-with --git" command
# to generate your .gitignore file.

# web application files
API/web-app/WEB-INF/classes

# default HSQL database files for production mode
API/prodDb.*

# general HSQL database files
API/*Db.properties
API/*Db.script

# logs
API/stacktrace.log
API/test/reports
API/logs

# project release file
API/*.war

# plugin release files
API/*.zip
API/plugin.xml

# older plugin install locations
API/plugins
API/web-app/plugins

# "temporary" build files
API/target/
API/web-app/
